* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}
html, body {
    height: 100%
}
.main-nav {
    display: flex;
    height: 54px;
    padding: 0 62px;
    align-items: center;
} 
.main-nav .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}
.main-nav .logo img {
    height: 24px;
    display: block;
    position: relative;
    top: 6px;
}
.main-nav a {
    display: block;
    color: inherit;
    text-underline-offset: 4px;
    text-decoration: none;
    padding: 16px 8px 10px;
    
}
.main-nav a:hover {
    text-decoration: underline;
}
.links {
    display: flex;
    align-items: baseline;
    width: 100%;
}
.left-links {
    margin-left: auto;
}
.ad {
    background-color: #0067b8;
    height: 54px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ba main {
    margin-top: 58px;
    height: 500px;
    padding: 0 0px;
}
.big-banner{
    height: 464px;
    background-color: #f2f2f2;
    display: flex;
    
    
}
.big-banner .first-part, .big-banner .second-part{
    flex: 1
}
.big-banner .first-part {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
   
}
.big-banner .first-part h1 {
    font-size: 37px;
    margin-bottom: 12px;
}
.big-banner .first-part p, .big-banner .first-part h1, .big-banner .first-part div {
    max-width:500px;
} 
.big-banner .first-part p {
    margin-bottom: 5px;
    padding: 5 5px;
}
.big-banner .first-part button {
    background-color: #0067b8;
    color: #f2f2f2;
    padding: 8px;
    border: 0px;
    border-radius: 3px;
    padding-left: 5px;
    text-decoration: none;
}
.big-banner .first-part button a{
text-decoration: none;
color: #f2f2f2;
}
.first-partA a{
text-decoration: none;
color: #0067b8;
padding-left: 10px;
}
.first-part{
    position: absolute;
    right: 10px;
    bottom: 100px;
 
}
.second-part{
   margin-right: 100px;
}
.second-part img{
    width: 50%;
}
.third-part{
    margin-left: 20px;
    max-width: 97%;
    height: 200px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.third-part ul{
    text-align: center;
}
.third-part li{
    display: inline-block;
    text-decoration: none;
    padding-left: 40px;
}
.third-part a{
text-decoration: none;
color: #0067b8;
font-size: 20px;
}
.forth-part{
    padding: 0 0 40PX;
}
.forth-part img{
    width: 310px;
}
.forth-part h1{
    font-size: 24px;
}
.forth-part li{
    display: inline-block;
    text-decoration: none;
    width: 320px;
}
.forth-part a{
    color: #0067b8;
    font-size: 17px;
    text-decoration: none;
}
#ab main {
    margin-top: 58px;
    height: 500px;
    padding: 30 20 20 20px;
}
.big-bannerA{
    height: 464px;
    background-color: #f2f2f2;
    display: flex;
    
}
.big-bannerA .first-partB, .big-bannerA .second-partA{
    flex: 1
}
#ab .big-bannerA .first-partB .second-partA{
    max-width: 80%;
} 
.big-bannerA .first-partB {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.big-bannerA .first-partB h1 {
    font-size: 37px;
    margin-bottom: 12px;
}
.big-bannerA .first-partB p, .big-bannerA .first-partB h1, .big-bannerA .first-partB div {
    max-width:500px;
} 
.big-bannerA .first-partB p {
    margin-bottom: 5px;
}
.big-bannerA .first-partB button {
    background-color: #0067b8;
    color: #f2f2f2;
    padding: 8px;
    border: 0px;
    border-radius: 3px;
    padding-left: 5px;
    text-decoration: none;
}
.big-bannerA .first-partB button a{
text-decoration: none;
color: #f2f2f2;
}
.first-partC a{
text-decoration: none;
color: #0067b8;
padding-left: 10px;
}
.first-partB{
    position: relative;
    right: 5px;
 
}
.second-partA{
   margin-right: 100px;
}
.second-partA img{
    width: 60%;
}
footer{
    background-color:#f2f2f2;
    padding: 10px 0;
    
}
.container{
padding-top: 40px;
}
.footer-col ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    max-width: 15%;
    padding: 0 20px;
}
.footer-col li{
    text-decoration: none;
}
@media only screen and (max-width:700px){
*{
    padding: auto;
    margin: auto;
}
.ad p{
 font-size: 13px;
 height: 30px;
 padding: 5px;
}
.main-nav .links .logo{
    width: 90%;
    margin: auto;

}
.main-nav a{
    display: none;
}
.big-banner h1{
    font-size: 15px;
}
.big-banner p{
    width: 90%;
    font-size: small;
}
.first-part{
    padding: 52px;
}
.second-part img{
    width: 80%;
}
.third-part{
    width: 90%;
    height: 50%;
    margin-top: 200px;
    display: flex;
}
.third-part li{
    display: inline-block;
}
.forth-part ul li{
    padding-top: 15px;
    padding-bottom: 15px;
}
.container{
}
.row{
}
.footer-col{
   width: 100%;
   padding: 15px;
   margin-right: 110px;
}
.footer-col li{
    display: flex;
    display: inline;

}
.first-partB h1{


}
#ab .big-bannerA .first-partB h1{
    font-size: 13px;
} 
#ab .big-bannerA .first-partB p{
    font-size: 12px;
} 

}
